# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
NODE_ENV=development
URL_SERVER=http://localhost:3000

APP_NAME=DIAN REJEKI TOYOTA
DATABASE_URL="mysql://root:root@localhost:3306/based"

AUTH_SECRET=jdKc6Bu/udsLudWAksSEKhX6/bgCifnH+cNO691h9mY=

RESEND_API_KEY=re_GfCmVbJh_7ENtxnkdbARZnVuTdRf1wNsP